body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: left;
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
}

h1{
    color:rgb(8, 8, 110)
}

h3{
    color:goldenrod
}

ul, ol {
    padding-left: 20px;
}

.card {
    background-color: rgb(217, 213, 222);
    border: 6px solid rgb(87, 9, 135);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color:  black;
}

@media (max-width: 768px) {
    .card h3, 
    .card ol, 
    .card ul:nth-of-type(2) {
        display: none; 
    }

    .card {
        width: 90%; 
    }

    h1 {
        font-size: 1.5rem; 
    }

    ul {
        font-size: 1rem; 
    }
}

@media (max-width: 480px) {
    .card {
        width: 95%; 
        padding: 10px; 
    }

    h1 {
        font-size: 1.25rem; 
    }

    ul {
        font-size: 0.9rem; 
    }
}

a {
    color: rgb(78, 46, 132); 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
    color: rgb(78, 46, 132); 
}
